* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#top-side {
  width: 100%;
  height: 100px;
  background-color: #333F98;
}
#top-side .container-fluid {
  width: 95%;
}
#top-side .language {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#top-side .language .button1 {
  border-radius: 0px;
  background-color: #333F98;
  border: 0px;
}
#top-side .country {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#top-side .country .button2 {
  border-radius: 0px;
  background-color: #333F98;
  border: 0px;
}
#top-side .country ul img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}
#top-side .country ul li {
  margin: 6px;
}
#top-side .country .usa-flex {
  display: flex;
}
#top-side .country .nzd-flex {
  display: flex;
}
#top-side .country .gmd-flex {
  display: flex;
}
#top-side .country .ilr-flex {
  display: flex;
}
#top-side .country .eur-flex {
  display: flex;
}
#top-side .country .inr-flex {
  display: flex;
}
#top-side .logo {
  display: flex;
  justify-content: center;
}
#top-side .logo img {
  margin-top: 36px;
}
#top-side .icons {
  float: right;
}
#top-side .icons .basket {
  background-color: #FF5722;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
}
#top-side .icons .basket i {
  color: white;
  margin-left: 10px;
}
#top-side .icons .heart {
  background-color: #FF5722;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
}
#top-side .icons .heart i {
  color: white;
  margin-left: 10px;
}
#top-side .icons .profile {
  margin-top: 23px;
}
#top-side .icons .profile .button3 {
  background-color: #333F98;
  border: 0px;
}
#top-side .icons .profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  left: 2px;
}
#top-side .icons .profile .profile-i {
  display: flex;
}
#top-side .icons .profile .account-i {
  display: flex;
}
#top-side .icons .profile .message-i {
  display: flex;
}
#top-side .icons .profile .logout-i {
  display: flex;
}
#top-side .icons .profile i {
  position: relative;
  left: 10px;
  top: 8px;
  font-size: 20px;
}

#nav-area {
  background-color: #283593;
}
#nav-area .my-container {
  width: 95%;
  margin: auto;
}
#nav-area .my-container nav {
  display: flex;
  justify-content: center;
}
#nav-area .my-container .btn-navbar {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
#nav-area .my-container .btn-navbar .admin {
  background-color: #FF5722;
  width: 115px;
  height: 45px;
  padding-top: 10px;
}
#nav-area .my-container .btn-navbar .admin .admin-nav {
  color: white;
  margin-left: 5px;
  text-decoration: none;
}
#nav-area .my-container .btn-navbar li {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}
#nav-area .my-container .btn-navbar li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;
}
#nav-area .my-container .btn-navbar li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #FF5722;
  transition: all 0.2s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
#nav-area .my-container .btn-navbar li:hover .submenu {
  height: 200px;
}
#nav-area .my-container .btn-navbar li:hover .categori {
  height: 320px;
  width: 800px;
}
#nav-area .my-container .btn-navbar li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
#nav-area .my-container .btn-navbar li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  z-index: 2;
}
#nav-area .my-container .btn-navbar li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#nav-area .my-container .btn-navbar li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 0;
  line-height: 30px;
  text-align: left;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.2s;
  text-align: left;
  margin-left: -200px;
  border-radius: 10px;
  z-index: 2;
}
#nav-area .my-container .btn-navbar li .categori table td {
  border: none;
}
#nav-area .my-container .btn-navbar li .categori table th {
  font-size: 17px;
  color: #283593;
}
#nav-area .my-container .btn-navbar li .categori table th:hover {
  color: #000;
}
#nav-area .my-container .btn-navbar h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}
#nav-area .icon {
  width: 56px;
  height: 56px;
  background-color: #FF5722;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 100px;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}
#nav-area .icon i {
  color: white;
}

.navbar-logo {
  display: flex;
  justify-content: space-between;
}
.navbar-logo .input-search {
  padding: 6px 0;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  position: relative;
  right: 85;
}
.navbar-logo .input-search input {
  border: none;
  padding: 6px 20px;
  width: 520px;
}

#scroll-section {
  background-color: #283593;
  z-index: 2;
  position: fixed;
  width: 100%;
  display: block;
  transition: 0.5s;
}
#scroll-section .my-container {
  width: 97%;
  margin: auto;
}
#scroll-section .inActive {
  display: none;
}
#scroll-section .head {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}
#scroll-section .head img {
  position: absolute;
  color: white !important;
}
#scroll-section nav {
  float: right;
}
#scroll-section .btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
#scroll-section .btn .admin {
  background-color: #ff5722;
  width: 125px;
  height: 60px;
  padding-top: 4px;
  margin-right: 0;
}
#scroll-section .btn li {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}
#scroll-section .btn li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;
}
#scroll-section .btn li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #ff5722;
  transition: all 0.2s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
#scroll-section .btn li:hover .home {
  height: 120px;
}
#scroll-section .btn li:hover .submenu {
  height: 160px;
}
#scroll-section .btn li:hover .categori {
  height: 250px;
}
#scroll-section .btn li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
#scroll-section .btn li .home {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}
#scroll-section .btn li .home a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#scroll-section .btn li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 165px;
  line-height: 40px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}
#scroll-section .btn li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
#scroll-section .btn li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 800px;
  line-height: 30px;
  text-align: left;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.2s;
  text-align: left;
  margin-left: -220px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}
#scroll-section .btn li .categori table td {
  border: none;
}
#scroll-section .btn li .categori table th {
  font-size: 17px;
  color: blue;
}
#scroll-section .btn li .categori table th:hover {
  color: #000;
}
#scroll-section .btn h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}

#banner {
  height: 310px;
  background-image: url(../../assets/images/accessories/girlwithphone.jpg);
  background-position: 2%;
  background-size: 100%;
  position: relative;
}
#banner .my-container {
  width: 100%;
  margin: auto;
}
#banner img {
  width: 100%;
  height: 344px;
}
#banner .product-name {
  width: 100%;
  position: absolute;
  top: 90px;
  text-align: center;
}
#banner .product-name h1 {
  font-size: 50px;
  color: white;
}
#banner .product-name p {
  color: white;
  font-size: 20px;
}
#banner .icon {
  width: 60px;
  height: 60px;
  background-color: #ff5722;
  position: absolute;
  right: 15px;
  top: -30px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#banner .icon i {
  font-size: 20px;
  padding-left: 18px;
  padding-top: 19px;
  color: white;
}

#about-1 {
  padding-top: 80px;
}
#about-1 .my-container {
  width: 97%;
  margin: auto;
}
#about-1 h1 {
  margin-top: 100px;
  font-size: 55px;
}
#about-1 button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  color: white;
  background-color: #ff5722;
}
#about-1 img {
  width: 100%;
}

#about-2 {
  background-color: whitesmoke;
  padding-top: 80px;
  margin-top: 80px;
}
#about-2 .my-container {
  width: 97%;
  margin: auto;
}
#about-2 img {
  width: 100%;
}
#about-2 h1 {
  margin-top: 150px;
}

#about-3 {
  padding-bottom: 100px;
  background-color: whitesmoke;
}
#about-3 .my-container {
  width: 97%;
  margin: auto;
}
#about-3 h1 {
  margin-top: 150px;
}
#about-3 img {
  width: 100%;
}

#banner-slider {
  height: 630px;
  background-image: url(../../assets/images/about/bannersliderBack.jpg);
  background-position: 2%;
  background-size: 100%;
}
#banner-slider .carousell-section {
  width: 800px;
  height: 480px;
  margin-top: 90px;
  position: relative;
  margin-left: 265px;
}
#banner-slider .swiper-slide {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  text-align: center;
}
#banner-slider .swiper-slide h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(170, 155, 155);
}
#banner-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
#banner-slider .swiper-button-next {
  right: 4% !important;
  top: 46% !important;
}
#banner-slider .swiper-button-prev {
  left: 4% !important;
  top: 46% !important;
}
#banner-slider .carousell-section {
  padding-top: 70px;
  position: relative;
}
#banner-slider .component-section {
  padding: 50px;
}
#banner-slider .component-row {
  display: flex;
  justify-content: space-between;
}
#banner-slider .component-card {
  position: relative;
  width: 31.5%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
}
#banner-slider .component-card .component-text {
  padding-left: 90px;
}

#ceo-about {
  height: 650px;
  padding-top: 70px;
  background-color: whitesmoke;
}
#ceo-about .my-container {
  width: 97%;
  margin: auto;
}
#ceo-about h1 {
  text-align: center;
  margin-bottom: 50px;
}
#ceo-about .ceo-1 {
  width: 461.99px;
  height: 383px;
  text-align: center;
}
#ceo-about .ceo-1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#ceo-about .ceo-1 h4 {
  margin-top: 30px;
}

#register .form-wrapper {
  max-width: 31.5%;
  min-width: 300px;
  margin: 15px auto;
  padding-top: 30px;
}
#register .form {
  display: flex;
  align-items: baseline;
}
#register .form-group {
  position: relative;
}
#register .form-group + .form-group {
  margin-top: 30px;
}
#register .form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: grey;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  cursor: auto;
}
#register .focused .form-label {
  transform: translateY(-125%);
  font-size: 0.75em;
}
#register .form-group {
  width: 90%;
}
#register .form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 90%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid grey;
  background-color: transparent;
  transition: box-shadow 150ms ease-out;
  caret-color: white;
  color: white;
}
#register .form-input:focus {
  box-shadow: 0 1px 0 0 blue;
}
#register h1 {
  margin-top: 80px;
}
#register button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  color: white;
  background-color: #ff5722;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
#register button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#footer-company {
  background-color: black;
  width: 100%;
  height: 388px;
}
#footer-company .container-fluid .images {
  margin-top: 15px;
}
#footer-company .container-fluid .texts {
  color: white;
  font-size: 15px;
  padding-left: 178px;
  margin-top: 15px;
}
#footer-company .container-fluid hr {
  margin-top: 50px;
  color: white;
}
#footer-company .container-fluid .about-c {
  margin-top: 30px;
}
#footer-company .container-fluid .about-c h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .about-c p {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
#footer-company .container-fluid .about {
  margin-top: 30px;
}
#footer-company .container-fluid .about h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .about p {
  color: white;
  font-size: 15px;
  line-height: 8px;
  padding-top: 11px;
  cursor: pointer;
}
#footer-company .container-fluid .about p:hover {
  color: rgb(255, 81, 0);
}
#footer-company .container-fluid .session {
  margin-top: 30px;
}
#footer-company .container-fluid .session h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .session p {
  color: white;
  font-size: 15px;
  line-height: 8px;
  padding-top: 11px;
  cursor: pointer;
}
#footer-company .container-fluid .session p:hover {
  color: rgb(255, 81, 0);
}
#footer-company .container-fluid .categories {
  margin-top: 30px;
}
#footer-company .container-fluid .categories h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .categories p {
  color: white;
  font-size: 15px;
  line-height: 8px;
  padding-top: 11px;
  cursor: pointer;
}
#footer-company .container-fluid .categories p:hover {
  color: rgb(255, 81, 0);
}
#footer-company .container-fluid .social {
  margin-top: 30px;
}
#footer-company .container-fluid .social h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .social p {
  color: white;
  font-size: 15px;
  line-height: 8px;
  padding-top: 11px;
  cursor: pointer;
}
#footer-company .container-fluid .social p:hover {
  color: rgb(255, 81, 0);
}/*# sourceMappingURL=about.css.map */