* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


    body {
        background-color: #f3f3f4;
    }

    .container-fluid {
        width: 95%;
    }

    .my-container {
        width: 95%;
        position: relative;
    }


    #top-side {
        width: 100%;
        height: 100px;
        background-color: #333F98;

        .container-fluid {

            width: 95%;
        }



        .language {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 30px;

            .button1 {
                border-radius: 0px;
                background-color: #333F98;
                border: 0px;


            }
        }

        .country {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 30px;

            .button2 {
                border-radius: 0px;
                background-color: #333F98;
                border: 0px;

            }

            ul img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: relative;
                left: 10px;
            }

            ul li {
                margin: 6px;
            }

            .usa-flex {
                display: flex;
            }

            .nzd-flex {
                display: flex;
            }

            .gmd-flex {
                display: flex;
            }

            .ilr-flex {
                display: flex;
            }

            .eur-flex {
                display: flex;
            }

            .inr-flex {
                display: flex;

            }



        }


        .logo {
            display: flex;
            justify-content: center;


            img {

                margin-top: 36px;
            }

        }

        .icons {
            float: right;

            .basket {
                background-color: orange;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                margin-top: 30px;
                margin-left: 10px;

                i {
                    margin-left: 10px;
                }
            }

            .basket {
                background-color: orange;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                margin-top: 30px;
                margin-left: 10px;

                i {
                    margin-left: 10px;
                }
            }

            .heart {
                background-color: orange;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                margin-top: 30px;
                margin-left: 10px;

                i {
                    margin-left: 10px;
                }
            }


            .profile {

                margin-top: 23px;


                .button3 {
                    background-color: #333F98;
                    border: 0px;
                }

                img {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    left: 2px;
                }

                .profile-i {
                    display: flex;
                }

                .account-i {
                    display: flex;
                }

                .message-i {
                    display: flex;
                }

                .logout-i {
                    display: flex;
                }

                i {
                    position: relative;
                    left: 10px;
                    top: 8px;
                    font-size: 20px;

                }
            }


        }

    }


    #nav-area {
        background-color: #283593;

        .my-container {
            width: 95%;
            margin: auto;

            nav {
                display: flex;
                justify-content: center;
            }

            .btn-navbar {
                display: flex;
                align-items: center;

                .admin {
                    background-color: #FF5722;
                    width: 115px;
                    height: 45px;
                    padding-top: 10px;

                    .admin-nav {
                        color: white;
                        margin-left: 5px;
                        text-decoration: none;
                    }


                }

                li {
                    display: inline-block;
                    transition: all 0.3s ease-in-out;
                    margin-right: 25px;

                    .nav-a {
                        color: white;
                        display: block;
                        text-decoration: none;
                        position: relative;
                        margin-top: 10px;
                        padding-bottom: 10px;


                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            bottom: -10px;
                            left: 0px;
                            background-color: #FF5722;
                            transition: all 0.2s ease-in-out;
                            transform: scale(0, 0);
                            visibility: hidden;
                        }
                    }

                    &:hover {
                        .submenu {
                            height: 200px;

                        }

                        .categori {
                            height: 320px;
                            width: 800px;
                        }

                        a {

                            &::before {
                                visibility: visible;
                                transform: scale(1, 1);
                            }
                        }
                    }

                    .submenu {
                        overflow: hidden;
                        position: absolute;
                        margin-top: 10px;
                        background-color: white;
                        height: 0;
                        width: 150px;
                        line-height: 40px;
                        transition: height 0.3s ease-in-out;
                        transition-delay: 0.1s;
                        text-align: left;
                        padding-left: 15px;
                        border-radius: 5px;
                        z-index: 2;


                        a {
                            color: #000;
                            font-size: 16px;
                            text-decoration: none;
                        }
                    }

                    .categori {
                        overflow: hidden;
                        position: absolute;
                        margin-top: 10px;
                        background-color: white;
                        height: 0;
                        width: 0;
                        line-height: 30px;
                        text-align: left;
                        transition: height 0.3s ease-in-out;
                        transition-delay: 0.2s;
                        text-align: left;
                        margin-left: -200px;
                        border-radius: 10px;
                        z-index: 2;

                        table td {
                            border: none;

                        }

                        table {

                            th {
                                font-size: 17px;
                                color: #283593;

                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }

                h1 {
                    text-align: center;
                    font-family: satisfy;
                    font-weight: 300;
                }

                padding: 0;
                margin: 0;
            }

        }


        .icon {
            width: 56px;
            height: 56px;
            background-color: #FF5722;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            right: 0;
            margin-top: 20px;
            position: absolute;
            z-index: 1;

            i {
                color: white;
            }

        }
    }

    #glass {

        .glass-plus {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                filter: brightness(0.5);
                width: 100%;
                height: 344px;


            }

            .glass-info {
                position: absolute;
                text-align: center;
                color: white;
                z-index: 1;

                h1 {
                    font-size: 25px;
                    font-weight: lighter;
                }

                h3 {
                    font-size: 40px;
                }



            }

        }




    }

    #accessories-numb {
        .search {
            width: 261px;
            height: 80px;

            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;

            input {

                border: none;
                border-bottom: 1px gray solid;
                outline: none;


            }
        }

        .brand {
            width: 261px;
            height: 321px;
            line-height: 21px;


            justify-content: center;
            padding-left: 20px;
            padding-top: 20px;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;

            .search1 {
                border: none;
                border-bottom: 1px gray solid;
                outline: none;

            }

            .a2 {
                font-weight: bolder;

                span {
                    float: 10px;
                    color: white;
                    background-color: gray;
                    padding: 0 5px;
                    border-radius: 5px;
                }

                sup {
                    font-weight: bolder;
                }
            }
        }

        .type {
            width: 261px;
            height: 321px;
            line-height: 21px;
            font-weight: bold;

            justify-content: center;
            padding-left: 20px;
            padding-top: 20px;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;

            .search1 {
                border: none;
                border-bottom: 1px gray solid;
                outline: none;
            }

            .a2 {
                span {
                    float: 10px;
                    color: white;
                    background-color: gray;
                    padding: 0 5px;
                    border-radius: 5px;
                }

                sup {
                    font-weight: bolder;
                }
            }
        }

        .category {
            width: 261px;
            height: 321px;
            line-height: 21px;


            justify-content: center;
            padding-left: 20px;
            padding-top: 20px;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;

            .search1 {
                border: none;
                border-bottom: 1px gray solid;
                outline: none;

            }

            .a2 {
                font-weight: bolder;

                span {
                    float: 10px;
                    color: white;
                    background-color: gray;
                    padding: 0 5px;
                    border-radius: 5px;
                }

                sup {
                    font-weight: bolder;
                }
            }
        }

        .price {
            width: 261px;
            height: 365px;
            line-height: 21px;


            justify-content: center;
            padding-left: 20px;
            padding-top: 20px;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;

            .search-price input {
                border: none;
                border-bottom: 1px gray solid;
                outline: none;
                width: 70px;

            }

            .search-price {
                text-align: center;
                align-content: center;
            }

            .search-price button {
                width: 45px;
                height: 35px;
                background-color: #FF5722;
                color: white
            }

            .a2 {
                font-weight: bolder;

                span {
                    float: 10px;
                    color: white;
                    background-color: gray;
                    padding: 0 5px;
                    border-radius: 5px;
                }

                sup {
                    font-weight: bolder;
                }
            }


        }

        .rating {
            width: 261px;
            height: 321px;
            line-height: 21px;


            justify-content: center;
            padding-left: 20px;
            padding-top: 20px;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;


            .icon-star {

                span {
                    float: 10px;
                    color: white;
                    background-color: gray;
                    padding: 0 5px;
                    border-radius: 5px;
                }

                i {
                    font-size: 22px;
                    color: #FF5722
                }
            }
        }

        .clear {

            width: 261px;
            height: 74px;
            line-height: 21px;
            justify-content: center;
            padding-left: 20px;
            padding-top: 20px;
            position: relative;
            align-items: center;
            box-shadow: 2px 2px 2px 2px #888888;

            button {
                width: 150px;
                height: 40px;
                background-color: #FF5722;
                color: white;


            }
        }

    }




    .card {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;

        }

        .product-info {
            color: #31333c;
            position: absolute;
            left: 20px;
        }

        .stars {
            position: absolute;
            color: #edb867;
            left: 20px;
        }

        .card-line {
            border: 0.5px solid #ebebeb;
            width: 288px;
            position: absolute;
            right: 0px;
            bottom: 38px;
        }

        .product-price {
            p {
                background-color: white;
                color: black;
                border-radius: 5px;
                box-shadow: 1px 1px #757575;
                padding-left: 20px;
            }

            position: absolute;
            bottom: 130px;
            left: 10px;
            width: 90px;
        }

        .heart_icon {
            color: #757575;
            position: absolute;
            left: 11px;
            bottom: 12px;
        }

        .eye_icon {
            color: #757575;
            position: absolute;
            right: 11px;
            bottom: 12px;
        }

        .card-body {
            width: 100%;
            height: 141px;

            .wtf {
                opacity: 0;
            }

            .basket_icon {
                background-color: #283593;
                width: 60px;
                height: 60px;
                border-radius: 50px;
                position: absolute;
                bottom: 90px;
                right: 10px;

                .basket-icon {
                    color: white;
                    position: absolute;
                    right: 18px;
                    bottom: 19px;
                    font-size: 22px;
                }
            }

            .basket-icon {
                color: white;
                position: absolute;
                right: 30px;
                font-size: 30px;
            }
        }
    }

    #footer-company {
        background-color: black;
        width: 100%;
        height: 388px;

        .container-fluid {

            .images{
                margin-top: 15px;
            }

            .texts {
                color: white;
                font-size: 15px;
                padding-left: 178px;
                margin-top: 15px;
            }

            hr {
                margin-top: 50px;
                color: white;
            }

            .about-c {
                margin-top: 30px;

                h5 {
                    color: white;
                    font-size: 14px;
                }

                p {
                    color: white;
                    font-size: 15px;
                    cursor: pointer;

                }
            }

            .about {
                margin-top: 30px;


                h5 {
                    color: white;
                    font-size: 14px;

                }

                p {
                    color: white;
                    font-size: 15px;
                    line-height: 8px;
                    padding-top: 11px;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 81, 0)
                    }

                }
            }

            .session {
                margin-top: 30px;


                h5 {
                    color: white;
                    font-size: 14px;

                }

                p {
                    color: white;
                    font-size: 15px;
                    line-height: 8px;
                    padding-top: 11px;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 81, 0)
                    }

                }
            }

            .categories {
                margin-top: 30px;


                h5 {
                    color: white;
                    font-size: 14px;

                }

                p {
                    color: white;
                    font-size: 15px;
                    line-height: 8px;
                    padding-top: 11px;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 81, 0)
                    }

                }
            }

            .social {
                margin-top: 30px;


                h5 {
                    color: white;
                    font-size: 14px;

                }

                p {
                    color: white;
                    font-size: 15px;
                    line-height: 8px;
                    padding-top: 11px;
                    cursor: pointer;

                    &:hover {
                        color: rgb(255, 81, 0)
                    }

                }
            }
        }
    }
}