* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f4;
  /*--------------------------------------------------------------*/
  /*MAIN*/
}
body #top-side {
  width: 100%;
  height: 44px;
  background-color: black;
}
body #top-side .container-fluid {
  margin-left: 30;
}
body #top-side .container-fluid .welcome {
  border-right: 1px solid #464444;
  height: 44px;
  width: 178px;
}
body #top-side .container-fluid .welcome span {
  line-height: 40px;
  vertical-align: middle;
  color: white;
}
body #top-side .container-fluid .language {
  border-right: 1px solid #464444;
}
body #top-side .container-fluid .language .button1 {
  border-radius: 0px;
  background-color: black;
  border: 0px;
  position: relative;
  top: 3px;
}
body #top-side .container-fluid .country {
  border-right: 1px solid #464444;
}
body #top-side .container-fluid .country .button2 {
  border-radius: 0px;
  background-color: black;
  border: 0px;
  position: relative;
  top: 3px;
}
body #top-side .container-fluid .country ul img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}
body #top-side .container-fluid .country ul li {
  margin: 6px;
}
body #top-side .container-fluid .country .usa-flex {
  display: flex;
}
body #top-side .container-fluid .country .nzd-flex {
  display: flex;
}
body #top-side .container-fluid .country .gmd-flex {
  display: flex;
}
body #top-side .container-fluid .country .ilr-flex {
  display: flex;
}
body #top-side .container-fluid .country .eur-flex {
  display: flex;
}
body #top-side .container-fluid .country .inr-flex {
  display: flex;
}
body #top-side .basket,
body #top-side .heart {
  position: relative;
  width: 46px;
  height: 44px;
  border-right: 1px solid #464444;
}
body #top-side .basket i,
body #top-side .heart i {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 12px;
  left: 10px;
}
body #top-side .profile {
  border-right: 1px solid #464444;
}
body #top-side .profile .btn-secondary {
  background-color: black;
  border-color: black;
}
body #top-side .profile img {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
}
body #top-side .circles {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(255, 85, 0);
  position: absolute;
  top: 8px;
  right: 5px;
}
body #top-side .circles sup {
  margin-left: 3px;
  color: white;
  font-weight: 500;
  top: 0.5em;
}
body #top-side .dropdown-menu .profile-i {
  display: flex;
}
body #top-side .dropdown-menu .account-i {
  display: flex;
}
body #top-side .dropdown-menu .message-i {
  display: flex;
}
body #top-side .dropdown-menu .logout-i {
  display: flex;
}
body #top-side .dropdown-menu i {
  position: relative;
  left: 10px;
  top: 8px;
  font-size: 20px;
}
body .navbar-logo {
  display: flex;
  justify-content: space-between;
}
body .navbar-logo .input-search {
  padding: 6px 0;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  position: relative;
  right: 85;
}
body .navbar-logo .input-search input {
  border: none;
  padding: 6px 20px;
  width: 520px;
}
body #navbar {
  background-color: #283593;
  margin-top: 95;
}
body #navbar .container {
  width: 100%;
  height: 50px;
  background-color: #283593;
  margin-left: 23px;
}
body #navbar nav {
  position: absolute;
  left: 0;
  padding-left: 30px;
}
body #navbar .btn {
  display: flex;
  margin-top: 3px;
}
body #navbar .btn li {
  list-style: none;
  margin-right: 15px;
}
body #navbar .btn li:hover .home {
  height: 150px;
  width: 200px;
}
body #navbar .btn li:hover .home li {
  text-align: left;
}
body #navbar .btn li:hover .shop {
  height: 170px;
  width: 200px;
}
body #navbar .btn li:hover .categories {
  height: 270px;
  width: 850px;
}
body #navbar .btn li:hover .categories li {
  text-align: left;
}
body #navbar .btn li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}
body #navbar .btn li .home {
  height: 130px;
  width: 200px;
}
body #navbar .btn li .shop {
  height: 170px;
  width: 200px;
}
body #navbar .btn li .categories {
  height: 270px;
  width: 1000px;
  display: flex;
  gap: 100px;
  text-align: left;
}
body #navbar .btn li .submenu {
  overflow: hidden;
  position: absolute;
  top: 57px;
  background-color: whitesmoke;
  height: 0;
  line-height: 50px;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
body #navbar .btn li .submenu > li {
  display: block;
  text-align: left;
}
body #navbar .btn li .submenu a {
  color: black;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none;
}
body #navbar .btn li .submenu a:hover {
  text-decoration: none;
}
body #navbar .btn li .submenu .product1 {
  padding-top: 20px;
}
body #navbar .btn li .submenu .product1 h5 {
  color: rgb(49, 97, 231);
  text-align: left;
}
body #navbar .btn li .hov {
  font-size: 18px;
  color: white;
  display: block;
  padding: 0 15px 0 7px;
  margin: 0 0 10px;
  text-decoration: none;
  position: relative;
}
body #navbar .btn li .hov::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -20px;
  left: 0px;
  background-color: rgb(255, 85, 0);
  transition: all 0.3s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
body #slider-img {
  padding-top: 85px;
}
body #slider-img .swiper {
  width: 1450;
  height: 600;
  margin-left: -70;
}
body #slider-img .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #slider-img .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.5);
  z-index: -1;
}
body #slider-img .swiper .swiper-slide p {
  color: white;
  position: absolute;
  top: 170px;
  left: 39%;
  font-size: 30px;
}
body #slider-img .swiper .swiper-slide h1 {
  color: white;
  position: absolute;
  top: 200px;
  font-size: 90px;
}
body #slider-img .swiper .swiper-slide a {
  font-size: 14;
  width: 100;
  height: 40;
  background-color: white;
  padding: 10px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 108px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
body #slider-img .swiper .swiper-slide button {
  position: absolute;
  bottom: 100px;
  width: 100px;
}
body #site-info {
  background-color: #f3f3f4;
  position: relative;
  padding-top: 80px;
}
body #site-info .container-my {
  width: 1450;
  margin-left: 40;
}
body #site-info .container-my .first-info {
  width: 100%;
  height: 117px;
  background-color: #f3f3f4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
body #site-info .container-my .first-info h3 {
  padding-left: 97px;
  padding-top: 20px;
}
body #site-info .container-my .first-info p {
  padding-left: 98px;
}
body #site-info .container-my .shop-icon {
  width: 85;
  height: 85;
  border-radius: 50%;
  background-color: #283593;
  position: absolute;
  bottom: 84px;
  left: 51px;
}
body #site-info .container-my .like-icon {
  width: 85;
  height: 85;
  border-radius: 50%;
  background-color: #283593;
  position: absolute;
  bottom: 84px;
  left: 543px;
}
body #site-info .container-my .price-icon {
  width: 85;
  height: 85;
  border-radius: 50%;
  background-color: #283593;
  position: absolute;
  bottom: 84;
  right: 401px;
}
body #site-info .container-my i {
  color: white;
  font-size: 30px;
  padding-left: 28px;
  padding-top: 28px;
}
body #gallery-home .continer-gallery {
  width: 100%;
  margin-left: 35;
}
body #gallery-home .continer-gallery .gallery {
  height: 515px;
  border-radius: 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  height: 241px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
}/*# sourceMappingURL=home.css.map */