* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-side {
    width: 100%;
    height: 100px;
    background-color: rgb(52, 105, 211);


    .welcome {
        height: 44px;
        width: 178px;
    }

    .language {

        .button1 {
            border-radius: 0px;
            background-color: rgb(52, 105, 211);
            border: 0px;
            position: relative;
            top: 30px;

        }
    }

    .country {
        .button2 {
            border-radius: 0px;
            background-color: rgb(52, 105, 211);
            border: 0px;
            position: relative;
            top: 30px;
        }

        ul img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position: relative;
            left: 10px;
        }

        ul li {
            margin: 6px;
        }

        .usa-flex {
            display: flex;
        }

        .nzd-flex {
            display: flex;
        }

        .gmd-flex {
            display: flex;
        }

        .ilr-flex {
            display: flex;
        }

        .eur-flex {
            display: flex;
        }

        .inr-flex {
            display: flex;
        }

    }

    .basket,
    .heart {
        cursor: pointer;
        position: relative;
        top: 30px;
        width: 46px;
        height: 44px;
        border: 1px solid rgb(255, 98, 0);
        border-radius: 50%;
        background-color: rgb(255, 98, 0);

        i {
            font-size: 20px;
            color: white;
            position: absolute;
            top: 12px;
            left: 11px;
        }
    }

    .profile {
        margin-top: 30px;

        img {
            font-size: 26px;
            width: 25px;
            height: 25px;

            border-radius: 50%;
        }
    }

    .circles {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color:rgb(255, 98, 0);
        position: absolute;
        top: -8px;
        right: 5px;

        sup {
            margin-left: 3px;
            color: white;
            font-weight: 500;
            top: 0.5em;
        }

    }

    .dropdown-menu {
        .profile-i {
            display: flex;
        }

        .account-i {
            display: flex;
        }

        .message-i {
            display: flex;
        }

        .logout-i {
            display: flex;
        }

        i {
            position: relative;
            left: 10px;
            top: 8px;
            font-size: 20px;

        }
    }


    .logo {
        img {
            padding-top: 30px;
            padding-left: 150px;
        }
    }


}

#navbar {
    background-color: #283593;

    .container {
        width: 100%;
        height: 50px;
        background-color: #283593;
        margin-left: 40px;
    }

    nav {
        position: absolute;
        left: 329px;
        padding-left: 30px;
    }

    .btn {
        display: flex;
        margin-top: 3px;

        li {
            list-style: none;
            margin-right: 15px;

            &:hover {
                .home {
                    height: 150px;
                    width: 200px;

                    li {
                        text-align: left;
                    }
                }

                .shop {
                    height: 170px;
                    width: 200px;
                }

                .categories {
                    position: absolute;
                    z-index: 2;
                    height: 270px;
                    width: 800px;

                    li {
                        text-align: left;
                    }
                }

                a {
                    &::before {
                        visibility: visible;
                        transform: scale(1, 1);
                    }
                }
            }

            .home {
                height: 130px;
                width: 200px;
            }

            .shop {
                height: 170px;
                width: 200px;
            }

            .categories {
                height: 270px;
                width: 1000px;
                display: flex;
                gap: 100px;
                text-align: left;
                z-index: 2;
            }

            .submenu {
                overflow: hidden;
                position: absolute;
                top: 57px;
                background-color: whitesmoke;
                height: 0;
                line-height: 50px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                border-radius: 5px;
                z-index: 2;

                >li {
                    display: block;
                    text-align: left;
                }

                a {
                    color: black;
                    margin-top: 20px;
                    font-size: 16px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .product1 {
                    padding-top: 20px;

                    h5 {
                        color: rgb(49, 97, 231);
                        text-align: left;
                    }
                }
            }

            .hov {
                font-size: 18px;
                color: white;
                display: block;
                padding: 0 15px 0 7px;
                margin: 0 0 10px;
                text-decoration: none;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    bottom: -20px;
                    left: 0px;
                    background-color: rgb(255, 98, 0);
                    transition: all 0.3s ease-in-out;
                    transform: scale(0, 0);
                    visibility: hidden;
                }
            }

        }
    }

    .search-icon {
        z-index: 3;
        cursor: pointer;
        position: absolute;
        margin-top: 20px;
        right: 120px;
        font-size: 30px;
        color: white;
        border: 1px solidrgb(255, 98, 0);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(255, 98, 0);
    }
}

#sign-in {
    width: 100%;
    height: 590px;

    img {
        width: 500;
        height: 655;
        margin-top: 80;
        margin-left: 160;
    }

    .sign-in {
        z-index: 1;
        position: absolute;
        margin-top: 120px;
        left: 731px;
        width: 540px;
        height: 562px;
        background-color: rgb(255, 255, 255);
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .2);

        h2 {
            font-size: 24px;
            margin-top: 33px;
            padding-left: 36px;
        }

        #box1 {
            position: absolute;
            margin-top: 180px;
            left: -110px;
        }

        .label2 {
            cursor: pointer;
            position: absolute;
            margin-top: 243px;
            left: 60px;
            font-size: 24px;
            font-weight: normal;
        }

        p {
            position: absolute;
            margin-top: 175px;
            right: 20px;
            cursor: pointer;
            color: black;
        }

        span {
            position: absolute;
            margin-top: 443px;
            left: 35px;

            a {
                text-decoration: none;
            }
        }

        button {
            position: absolute;
            margin-top: 384px;
            color: white;
            border: 1px solid rgb(255, 98, 0);
            border-radius: 2px;
            background-color: rgb(255, 98, 0);
            width: 163px;
            height: 50px;
            left: 35px;
        }

    }

    .group {
        position: absolute;
    }

    input {
        font-size: 18px;
        padding: 11px 15px 10px 11px;
        display: block;
        width: 437px;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: lighter;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus~label,
    input:valid~label {
        top: -20px;
        font-size: 14px;
        color: #000000;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 300px;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus~.bar:before,
    input:focus~.bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }


    .email {
        position: absolute;
        margin-top: 158px;
        left: 45;
    }

    .password {
        position: absolute;
        margin-top: 231px;
        left: 45;
    }

    #box1{
        position: absolute;
        margin-top: 180px;
        left: -110px;
       }


}

#socials {
    width: 100%;
    height: 450px;
    background-color: rgb(0, 0, 0);
    margin-top: 300;

    .company {
        width: 400px;
        height: 300px;
        position: absolute;
        left: 30px;

        h2 {
            margin-top: 50px;
            font-size: 18px;
            color: white;
        }

        p {
            margin-top: 50px;
            font-size: 16px;
            color: white;
        }
    }

    .about {
        width: 200px;
        height: 300px;
        position: absolute;
        left: 440px;

        h2 {
            margin-top: 50px;
            font-size: 18px;
            color: white;
        }

        ul {
            position: absolute;
            left: -35px;
            top: 115px;

            :hover {
                color: red;
            }
        }

        li {
            list-style: none;
            padding: 5px;
            cursor: pointer;
            color: white;
        }

    }

    .session {
        width: 200px;
        height: 300px;
        position: absolute;
        left: 650px;

        h2 {
            margin-top: 50px;
            font-size: 18px;
            color: white;
        }

        ul {
            position: absolute;
            left: -35px;
            top: 115px;

            :hover {
                color: red;
            }
        }

        li {
            list-style: none;
            padding: 5px;
            cursor: pointer;
            color: white;
        }

    }

    .categories {
        width: 200px;
        height: 300px;
        position: absolute;
        left: 865px;

        h2 {
            margin-top: 50px;
            font-size: 18px;
            color: white;
        }

        ul {
            position: absolute;
            left: -35px;
            top: 115px;

            :hover {
                color: red;
            }
        }

        li {
            list-style: none;
            padding: 5px;
            cursor: pointer;
            color: white;
        }
    }

    .socials {
        width: 200px;
        height: 300px;
        position: absolute;
        left: 1060px;

        h2 {
            margin-top: 50px;
            font-size: 18px;
            color: white;
        }

        ul {
            position: absolute;
            left: -35px;
            top: 115px;

            :hover {
                color: red;
            }
        }

        li {
            list-style: none;
            padding: 5px;
            cursor: pointer;
            color: white;
        }
    }

    hr {
        margin-top: 350px;
        color: rgb(255, 255, 255);
    }

    .rights {
        color: white;
    }
}